bin/
obj/
.vs/
.bridge/
_recovered/

published/
tmp-bridge-test/
deploy/

vendor/interop-input/
vendor/interop-generated/
vendor/remote-artifacts/
vendor/He-is-coming-remote.exe
vendor/remote-*.json
vendor/BepInEx-Unity.IL2CPP-win-x64-6.0.0-pre.2/
vendor/BepInEx-Unity.IL2CPP-win-x64-6.0.0-pre.2.zip
vendor/BepInEx-Unity.IL2CPP-win-x64-6.0.0-be.755+3fab71a.zip

*.log
*.user
*.suo
